.main-layout {
  display: flex;
  height: calc(100vh - 70px);
  width: 100vw;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-main);
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }
}
